profile=conventional
break-separators=before
dock-collection-brackets=false
break-sequences=true
break-infix-before-func=true
break-fun-decl=wrap
break-fun-sig=wrap
space-around-records=true
space-around-lists=true
space-around-arrays=true
cases-exp-indent=2
field-space=loose
if-then-else=k-r
let-and=sparse
space-around-variants=true
wrap-comments=true
margin=100