profile = janestreet
parse-docstrings = true
wrap-comments = true
let-binding-spacing = compact
field-space = loose
sequence-style = separator
dock-collection-brackets = false
space-around-arrays = true
space-around-lists = true
space-around-records = true
sequence-style = separator
break-fun-decl = wrap
exp-grouping = preserve
wrap-fun-args = false
type-decl = sparse
space-around-variants = true
module-item-spacing = sparse
let-and = sparse